name: Ubuntu 

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ubuntu_test:
    name: Execute tests on Ubuntu
    strategy:
      fail-fast: false
      matrix:
        swift_version: ["6.1.3"]
    runs-on: ubuntu-22.04
    env:
      OPENATTRIBUTEGRAPH_WERROR: 1
      OPENATTRIBUTEGRAPH_OPENATTRIBUTESHIMS_ATTRIBUTEGRAPH: 0
      OPENATTRIBUTEGRAPH_COMPATIBILITY_TEST: 0
    container: swift:${{ matrix.swift_version }}-jammy
    steps:
      - uses: actions/checkout@v4
      - name: Checkout Swift headers
        uses: ./.github/actions/checkout-swift-headers
      - name: Building and running tests in debug mode with coverage
        run: |
          swift test \
            -c debug \
            --enable-code-coverage \
            --build-path .build-test-debug
          llvm-cov show \
            -instr-profile=.build-test-debug/debug/codecov/default.profdata \
            .build-test-debug/debug/OpenAttributeGraphPackageTests.xctest \
            > coverage.txt
      - name: Building and running tests in release mode
        run: |
          swift test \
            -c release \
            --build-path .build-test-release
      - name: Install Codecov dependencies
        run: apt-get update && apt-get install -y curl gpg
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ubuntu
          verbose: true
