name: XCFramework

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  build_xcframework:
    name: Build XCFramework
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15]
        xcode-version: ["16.4"]   # Swift 6.1.2
    runs-on: ${{ matrix.os }}
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Xcode
        uses: OpenSwiftUIProject/OpenSwiftUI/.github/actions/setup-xcode@main
        with:
          xcode-version: ${{ matrix.xcode-version }}
      - name: Checkout Swift headers
        uses: ./.github/actions/checkout-swift-headers
      - name: Build XCFramework
        run: ./Scripts/build_xcframework.sh
      - name: Upload XCFramework
        uses: actions/upload-artifact@v4
        with:
          name: OpenAttributeGraph.xcframework.zip
          path: .build/Xcode/Frameworks/OpenAttributeGraph.xcframework.zip
